<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Perfil</title>
</head>

<body>

    <h1>
        <%= userName %>
    </h1>
    <h2>
        <%= userAge %> anos - <%= userCity %>/<%= userEstate %>
    </h2>

</body>

</html>